# Social Media Analytics Spring 2018 - Assignment #1

## Matt Barrett, Tim Lai, Christine Mulcahy, Elena Reynolds, and Brett Scroggins

## Twitter Scraper

In [135]:
import tweepy
import csv
import pandas as pd
from copy import deepcopy

#Import the necessary methods from tweepy library
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

import sys
reload(sys)
sys.setdefaultencoding('utf8')

#Variables that contains the user credentials to access Twitter API 
access_token = "287477875-xo2UWWLIXKljdXLuDp7CZ7x9Y3m2SbepsO8zAaWt"
access_secret = "rKmtahChLCkZkCObVMV2S6oMQUM9iTb7cn0uVxruQVQ0m"
consumer_key = "ojq6XJAHquz3QVbvpBIgd7CzD"
consumer_secret = "upBT5CCrenzN3XzHXtdonPsZEJbLO7PH8js3BQNouyNHNMJOGg"

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
 
api = tweepy.API(auth)

In [136]:
import tweepy
import csv
import json

columns = ['screen_name','name', 'text']
df = pd.DataFrame(columns=columns)

#Get the first 1500 items based on the search query and store it
for tweet in tweepy.Cursor(api.search, q='%23SOTU',
                          since='2018-01-29',
                          until='2018-01-30').items(1500):
    df.loc[tweet.user.id] = [tweet.user.id, tweet.user.name, tweet.text.encode('utf-8')]

In [138]:
df2 = deepcopy(df)
new_index = range(1,1501)
df2.reindex(new_index).head()

  screen_name name text
1         NaN  NaN  NaN
2         NaN  NaN  NaN
3         NaN  NaN  NaN
4         NaN  NaN  NaN
5         NaN  NaN  NaN

In [139]:
# 1/29 to 1/30
full_df1 = df.merge(df2)
full_df1.head()

,screen_name,name,text
0,871701045071798272,Komala Hayes,RT @JoyAnnReid: How hard will it be for Trump ...
1,873715295088779267,Akita4two,RT @MillenPolitics: Keep this in mind at tomor...
2,946871832493178880,⭐Odie-Joan⭐,RT @BWDR: imagine how much better it would be ...
3,32167206,Actress/Activist,#BoycottStateOfTheUnion #SOTU BLACKOUT\n#Clear...
4,138619638,Joanna,RT @truckfump2017: Friendly reminder: #TheResi...

In [140]:
df_29 = full_df1
df_29.head()

,screen_name,name,text
0,871701045071798272,Komala Hayes,RT @JoyAnnReid: How hard will it be for Trump ...
1,873715295088779267,Akita4two,RT @MillenPolitics: Keep this in mind at tomor...
2,946871832493178880,⭐Odie-Joan⭐,RT @BWDR: imagine how much better it would be ...
3,32167206,Actress/Activist,#BoycottStateOfTheUnion #SOTU BLACKOUT\n#Clear...
4,138619638,Joanna,RT @truckfump2017: Friendly reminder: #TheResi...

In [95]:
df_29.to_csv('df29.csv')

### Note: This scraper only retrieves 1500 tweets per run, to comply with Twitter's rate limit. This scraper was run 4 times to retrieve 6000+ tweets from 4 seperate days surrounding the State of the Union Address.